/* Space out content a bit */
body {
  background: #00CD66;
  padding-bottom: 20px;
}
form ul {
  text-decoration: none;
  list-style-type: none;
}

li label {
  font-family: "FranklySpokenTwo";
  font-size: 12px;
}
form.contained {
  padding-right: 30px;
}

#addSubmit {
  border: 1px solid black;
  border-radius: 10px;
  font-family:"FranklySpokenTwo";
  background: none;
}

#newsbtn {
  text-align: center;
}

#newsfeed {
  overflow: auto;
  top: 50px;
}

.selectmenu {
  border: 1px solid black;
  font-family: "FranklySpokenTwo";
  font-size: 10px;
  padding: 5px;
  width: 25%;
  height: 25%;
}

.accform {
  color: white;
  background: black;
}

.newsbtn {
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "FranklySpokenTwo";
  font-size: 18px;
  color: black;
}

.container {
  min-width: 800px;
  padding-top: 150px;
}
.title {
  cursor: pointer;
  padding-top: 35px;
  font-family: "FranklySpokenTwo";
  color: white;
  font-size: 44px;
}
.navbar-default.navbar {
  padding: 0px;
  height: 140px;
  width: 100%;
  border: 1px solid black;
  position: fixed;
  background: black;
}

.navbar-header {
  left: 50%;
  display: inline-block;
  position: fixed;
  margin-left: -75px;
}

.left {
  cursor: pointer;
  display: inline-block;
  width: 50%;
  float: left;
  padding-right: 30px;
}

.right {
  cursor: pointer;
  display: inline-block;
  width: 50%;
  float: right;
}

.list {
  background: white;
  border-radius: 5px;
  border: 2px solid black;
  text-decoration: none;
  list-style-type: none;
}

.selectmenus {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
