<div style="cursor: pointer; text-align: center;">
	<accordion close-others="oneAtATime">
		<accordion-group heading="Add Event">
				<form class="contained" ng-submit="addEvent()">
					<ul>
						<li><input class="form-control" placeholder="Title" type="text" ng-model="newEvent.title"/></li>
						<li><input class="form-control" placeholder="Description" type="text" ng-model="newEvent.description"/></li>
						<li><input class="form-control" placeholder="Location" type="text" ng-model="newEvent.location" /></li>
						<li><input class="form-control" placeholder="Date" type="text" ng-model="newEvent.date" /></li>
					</ul>
					<input id="addSubmit" type="submit" value="Submit" />
				</form>
		</accordion-group>
	</accordion>
</div>

<div style="cursor: pointer; text-align: center;">
	<accordion>
		<accordion-group heading="Search Events">
			<form class="contained">
				<ul>
					<li><input class="form-control" placeholder="Search by Title" ng-model="eventFilter.title" /></li>
					<li><input class="form-control" placeholder="Search by Description" ng-model="eventFilter.description" /></li>
					<li><input class="form-control" placeholder="Search by Location" ng-model="eventFilter.location" /></li>
					<li><input class="form-control" placeholder="Search by Date" ng-model="eventFilter.date" /></li>
				</ul>
			</form>
		</accordion-group>
	</accordion>
</div>
