<div ng-include="'views/forms.html'"></div>
<div class="selectmenus">
	<select class="selectmenu" ng-model="orderAttribute" class="input-medium">
		<option value="title">Title</option>
		<option value="description">Description</option>
		<option value="location">Location</option>
		<option value="date">Date</option>
	</select>
	<select class="selectmenu" ng-model="orderReverse" class="input-medium">
		<option value="true">Descending</option>
		<option value="false">Ascending</option>
	</select>
</div>
<div id="newsfeed">
		<ul class="list" ng-repeat="event in events | orderBy:orderAttribute:orderReverse | filter: {title: eventFilter.title, description: eventFilter.desc, location: eventFilter.loc, date: eventFilter.date} | limitTo: feedlimit">
			<li><label>title:</label><span ng-show='event.title'> {{event.title}}</span></li>
			<li><label>description:</label><span ng-show='event.description'> {{event.description}}</span></li>
			<li><label>location:</label><span ng-show='event.location'> {{event.location}}</span></li>
			<li><label>date:</label><span ng-show='event.date'> {{event.date}}</span></li>
		</ul>
</div>
<div id="newsbtn">
	<input type="button" class="newsbtn" value="view more" ng-click="viewMore()" />
</div>